.add-item-box {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.add-item {
    border: none;
}

.add-item, .add-icon {
    margin: 0.4rem;
}
